[submodule "Deps/pico-vfs"]
  path = Deps/pico-vfs
  url = https://github.com/oyama/pico-vfs.git
[submodule "Deps/pico_fatfs"]
  path = Deps/pico_fatfs
  url = https://github.com/elehobica/pico_fatfs.git
